In [2]:
import json
import pandas as pd
from pathlib import Path
data_dir = f"{Path.home()}/data/itan"

with open(f"{Path.home()}/credentials.json") as f:
    data = json.load(f)
    username = data['username']
    password = data['password']
    host = data['host']

%load_ext sql
%sql oracle+cx_oracle://$username:$password@$host:1521/?service_name=dororat3

'Connected: c242587@'

In [3]:
%%sql n_hourly << 
select count(*)
from doretl.ITAN_PATIENT_HOURLY_V

 * oracle+cx_oracle://c242587:***@dor-m9-rdb.nndc.kp.org:1521/?service_name=dororat3
0 rows affected.
Returning data to local variable n_hourly

In [4]:
n_hourly

[(46630018,)]

In [16]:
hourly.DataFrame().to_csv(
    f"{data_dir}/hourly.tsv",
    sep="\t")

In [3]:
%%sql cohort << 
select * 
from doretl.ITAN_COHORT_V

 * oracle+cx_oracle://c242587:***@dor-m9-rdb.nndc.kp.org:1521/?service_name=dororat3
0 rows affected.
Returning data to local variable cohort

In [17]:
cohort.DataFrame().to_csv(
    f"{data_dir}/cohort.tsv",
    sep="\t")

In [9]:
x = ["a","b","c"]
f"{', '.join(x[:-1])}, and {x[-1]}"

'a, b, and c'