In [1]:
!pip install tables

Collecting tables
  Using cached https://files.pythonhosted.org/packages/87/f7/bb0ec32a3f3dd74143a3108fbf737e6dcfd47f0ffd61b52af7106ab7a38a/tables-3.5.2-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: numexpr>=2.6.2 in /opt/conda/lib/python3.6/site-packages (from tables) (2.6.9)
Collecting mock>=2.0 (from tables)
  Using cached https://files.pythonhosted.org/packages/05/d2/f94e68be6b17f46d2c353564da56e6fb89ef09faeeff3313a046cb810ca9/mock-3.0.5-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.9.3 in /opt/conda/lib/python3.6/site-packages (from tables) (1.11.3)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.6/site-packages (from tables) (1.12.0)
Installing collected packages: mock, tables
Successfully installed mock-3.0.5 tables-3.5.2

In [2]:
import sqlalchemy

In [8]:
from env import rdb, data_dir

from pathlib import Path
from tqdm import tqdm
import pandas as pd
import os
import glob

q = """
    select * 
    from doretl.ITAN_PATIENT_HOURLY_V
    where rownum<10000
"""

In [9]:
result = rdb.execute(q)

In [11]:
?result.fetchall

Signature: result.fetchall()
Docstring:
Fetch all rows, just like DB-API ``cursor.fetchall()``.

After all rows have been exhausted, the underlying DBAPI
cursor resource is released, and the object may be safely
discarded.

Subsequent calls to :meth:`.ResultProxy.fetchall` will return
an empty list.   After the :meth:`.ResultProxy.close` method is
called, the method will raise :class:`.ResourceClosedError`.

.. versionchanged:: 1.0.0 - Added "soft close" behavior which
   allows the result to be used in an "exhausted" state prior to
   calling the :meth:`.ResultProxy.close` method.
File:      /opt/conda/lib/python3.6/site-packages/sqlalchemy/engine/result.py
Type:      method

In [48]:
q = """
    select * 
    from doretl.ITAN_COHORT_V
"""
result = rdb.execute(q)
cohort = result.fetchall()
data = pd.DataFrame(cohort)

In [46]:
result = rdb.execute(q)
hourly = [row for i, row in enumerate(tqdm(result))]
data = pd.DataFrame(hourly)
# data.to_csv(data_dir/f'hourly_{i}.tsv', sep="\t")

9999it [00:00, 23971.82it/s]

In [34]:
result = rdb.execute(q)
hourly = []
for i, row in enumerate(tqdm(result)):
    hourly.append(row)
    if i>10000:
        break
#     if (i % 1000000) == 0: # write to file every million rows and reset
#         pd.DataFrame(hourly).to_csv(data_dir/f'hourly_{i}.tsv', sep="\t")
#         hourly = []
data = pd.DataFrame(hourly, columns=row.keys())
data.to_csv(data_dir/f'hourly_{i}.tsv', sep="\t")

9301it [00:00, 23173.25it/s]

In [36]:
len(data)

10002

In [10]:
import json
import pandas as pd
from pathlib import Path
data_dir = f"{Path.home()}/data/itan"

with open(f"{Path.home()}/credentials.json") as f:
    data = json.load(f)
    username = data['username']
    password = data['password']
    host = data['host']

%load_ext sql
%sql oracle+cx_oracle://$username:$password@$host:1521/?service_name=dororat3

'Connected: c242587@'

In [20]:
%%sql n_hourly << 
select *
from doretl.ITAN_PATIENT_HOURLY_V
where rownum <=10

 * oracle+cx_oracle://c242587:***@dor-m9-rdb.nndc.kp.org:1521/?service_name=dororat3
0 rows affected.
Returning data to local variable n_hourly

In [27]:
type(n_hourly)

sql.run.ResultSet

In [25]:
pd.DataFrame(n_hourly, columns=n_hourly.field_names)

,pat_mrn_id,pat_enc_csn_id,fac_id,location,begin_eff_time,end_eff_time,laps2_ts,laps2,cops2,laps2_hour,...,ot_l_group,ot_n_group,imar_im_group,imar_inh_group,imar_ivr_group,imar_ivd_group,imar_msc_group,imar_or_group,died,dnr_c
0,110000016332,322179153513,SCH,WARD,2017-03-21 14:59:00,2017-03-24 15:36:00,2017-03-24 06:00:00,55,103,2017-03-24 06:00:00,...,NaN,None,NaN,NaN,1.0,None,None,NaN,N,1
1,110000053104,322183958097,SCH,WARD,2017-06-13 17:12:00,2017-06-15 15:52:00,2017-06-14 00:00:00,70,82,2017-06-14 00:00:00,...,NaN,None,NaN,NaN,1.0,None,None,NaN,N,0
2,110000069069,322194881710,SCH,WARD,2018-01-31 16:29:00,2018-02-02 11:40:00,2018-02-01 23:00:00,13,6,2018-02-01 23:00:00,...,NaN,None,NaN,NaN,NaN,None,None,NaN,N,0
3,110000069069,322194881710,SCH,WARD,2018-01-31 16:29:00,2018-02-02 11:40:00,2018-02-02 08:00:00,13,6,2018-02-02 08:00:00,...,NaN,None,NaN,NaN,NaN,None,None,3.0,N,0
4,110000076392,322167607202,SCH,WARD,2016-08-14 15:21:00,2016-08-17 15:32:00,2016-08-15 11:00:00,93,43,2016-08-15 11:00:00,...,10.0,None,NaN,NaN,1.0,None,None,NaN,N,1
5,110000048321,322186818510,SCH,WARD,2017-08-07 20:23:00,2017-08-09 17:24:00,2017-08-08 06:00:00,107,94,2017-08-08 06:00:00,...,NaN,None,NaN,NaN,1.0,None,None,NaN,N,1
6,110000056614,322165961822,SCH,WARD,2016-07-09 17:48:00,2016-07-10 11:32:00,2016-07-09 20:00:00,63,9,2016-07-09 20:00:00,...,NaN,None,1.0,NaN,NaN,None,None,4.0,N,0
7,110000111923,322163294313,SCH,WARD,2016-05-08 13:55:00,2016-05-09 18:15:00,2016-05-09 17:00:00,73,134,2016-05-09 17:00:00,...,NaN,None,1.0,NaN,NaN,None,None,NaN,N,0
8,110000111923,322176642328,SCH,WARD,2017-02-04 16:27:00,2017-02-06 14:34:00,2017-02-05 01:00:00,78,134,2017-02-05 01:00:00,...,NaN,None,NaN,NaN,NaN,None,None,NaN,N,1
9,110000111923,322176642328,SCH,WARD,2017-02-04 16:27:00,2017-02-06 14:34:00,2017-02-05 09:00:00,78,134,2017-02-05 09:00:00,...,NaN,None,NaN,1.0,NaN,None,None,NaN,N,1

In [16]:
hourly.DataFrame().to_csv(
    f"{data_dir}/hourly.tsv",
    sep="\t")

In [3]:
%%sql cohort << 
select * 
from doretl.ITAN_COHORT_V

 * oracle+cx_oracle://c242587:***@dor-m9-rdb.nndc.kp.org:1521/?service_name=dororat3
0 rows affected.
Returning data to local variable cohort

In [17]:
cohort.DataFrame().to_csv(
    f"{data_dir}/cohort.tsv",
    sep="\t")

In [9]:
x = ["a","b","c"]
f"{', '.join(x[:-1])}, and {x[-1]}"

'a, b, and c'